
<body class="items-body">

<% if @search_results.count == 0 %>
	<h1>Nie znaleziono żadnych wyników</h1>
<% else %>	

	

	<div class="container" >

		<% @search_results.each do |item| %>
			<div class="col-md-3 row"  >

				<a href="/items/<%= item.id %>">

				<div id="borderimg2" class="item_width">
					<%= image_tag item.item_img_file_name, class: "item"  %>
				</div>

				</a>


			</div>
		<% end %>

	
	</div>
	
<% end %>	




</body>





