/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.item-shelf {

	height: 350px;
	width: 250px;
    border-left: 45px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 14px solid transparent;
    border-top: 30px solid transparent;
    
   }


.items-body {
  background: image-url("wood4.png") repeat;
}

.item_width {
    
    height: 347px;
    width: 300px;

}

.item_width_big {

  height: 530px;
  width: 350px;

}


#borderimg2 { 

    border-bottom: 11px solid transparent;
    padding: 0px; 
    -webkit-border-image: image-url("/images/bZ8Lk.png") 50 stretch; 
    -o-border-image:image-url("/images/bZ8Lk.png") 50 stretch; 
    border-image: image-url("/images/bZ8Lk.png") 50 stretch;
}


.grid12-6{
  position:relative;
}
.grid12-6 .inner_box{
  position:absolute;
  background:rgba(255,255,255,0.7);
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:35px;
  text-align:center;
  border-radius: 5px;
  border: 1px solid white;
}
.grid12-6 .inner_box h2{
  font-family:arial;
  text-align:center;
  font-size:26px;
  font-weight:normal;
  color:#777;
}

.op-butt {
    margin-left: 15px;
    margin-right: 0px; float: left;
    color: #000000 !important;
    background: rgb(205, 205, 205); /* Fallback for older browsers without RGBA-support */
    background: rgba(205, 205, 205, 0.85);
    border-style: solid;
    border-color: #FFFFFF #FFFFFF;

}



