/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.item {

	height: 350px;
	width: 250px;
	border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 26px solid transparent;
	
}



.items-body {
  background: image-url("wood4.png") repeat;
}

#borderimg2 { 
    border-bottom: 10px solid transparent;
    padding: 0px;
    -webkit-border-image: image-url("/images/bZ8Lk.png") 50 stretch; 
    -o-border-image:image-url("/images/bZ8Lk.png") 50 stretch; 
    border-image: image-url("/images/bZ8Lk.png") 50 stretch;
}